MarketApplication/Service References/MarketService/MarketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52015/MarketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52015/MarketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketService_GetJSONData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJSONData" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetJSONData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJSONDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_InitilizeProductShelfs_InputMessage">
    <wsdl:part name="parameters" element="tns:InitilizeProductShelfs" />
  </wsdl:message>
  <wsdl:message name="IMarketService_InitilizeProductShelfs_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitilizeProductShelfsResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ShowProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowProducts" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ShowProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ShowCart_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowCart" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ShowCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowCartResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_AddProductToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToCart" />
  </wsdl:message>
  <wsdl:message name="IMarketService_AddProductToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_RemoveProductFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductFromCart" />
  </wsdl:message>
  <wsdl:message name="IMarketService_RemoveProductFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProductFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ClearShopCart_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearShopCart" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ClearShopCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearShopCartResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketService">
    <wsdl:operation name="GetJSONData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/GetJSONData" message="tns:IMarketService_GetJSONData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/GetJSONDataResponse" message="tns:IMarketService_GetJSONData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitilizeProductShelfs">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/InitilizeProductShelfs" message="tns:IMarketService_InitilizeProductShelfs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/InitilizeProductShelfsResponse" message="tns:IMarketService_InitilizeProductShelfs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/ShowProducts" message="tns:IMarketService_ShowProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/ShowProductsResponse" message="tns:IMarketService_ShowProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/ShowCart" message="tns:IMarketService_ShowCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/ShowCartResponse" message="tns:IMarketService_ShowCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/AddProductToCart" message="tns:IMarketService_AddProductToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/AddProductToCartResponse" message="tns:IMarketService_AddProductToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProductFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/RemoveProductFromCart" message="tns:IMarketService_RemoveProductFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/RemoveProductFromCartResponse" message="tns:IMarketService_RemoveProductFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearShopCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/ClearShopCart" message="tns:IMarketService_ClearShopCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/ClearShopCartResponse" message="tns:IMarketService_ClearShopCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarketService" type="tns:IMarketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJSONData">
      <soap:operation soapAction="http://tempuri.org/IMarketService/GetJSONData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitilizeProductShelfs">
      <soap:operation soapAction="http://tempuri.org/IMarketService/InitilizeProductShelfs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowProducts">
      <soap:operation soapAction="http://tempuri.org/IMarketService/ShowProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCart">
      <soap:operation soapAction="http://tempuri.org/IMarketService/ShowCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductToCart">
      <soap:operation soapAction="http://tempuri.org/IMarketService/AddProductToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProductFromCart">
      <soap:operation soapAction="http://tempuri.org/IMarketService/RemoveProductFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearShopCart">
      <soap:operation soapAction="http://tempuri.org/IMarketService/ClearShopCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketService">
    <wsdl:port name="BasicHttpBinding_IMarketService" binding="tns:BasicHttpBinding_IMarketService">
      <soap:address location="http://localhost:52015/MarketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>